spring:
  config:
    activate:
      on-profile: prod

  sql:
    init:
      mode: never

  jpa:
    defer-datasource-initialization: false
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        show_sql: false